html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/src/images/forest-restaurant.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    opacity: 70%;
    box-sizing: border-box;
    padding-bottom: 15px;
    font-size: 2rem;
    font-weight: 900;
}

nav {
    display: flex;
    gap: 50px;
}

nav>button {
    height: 40px;
    width: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
    background-color: darkgreen;
    border-radius: 10px;
}

nav>button:hover,
nav>button:focus {
    cursor: pointer;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 50px;
}

main>.display {
    min-height: 500px;
    width: 800px;
    background-color: black;
    opacity: 70%;
    padding: 0 50px;
    box-sizing: border-box;
    color: white;
}

main>.display>h1 {
    text-align: center;
    font-size: 3rem;
    margin: 15px 0;
}

main>.display>p {
    font-size: 2rem;
    margin: 10px 0;
}

main>.display>.note {
    font-size: 1rem;
    font-weight: 900;
    text-decoration: underline;
    margin-top: 40px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 70%;
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    height: 50px;
}

footer>p>a {
    color: green;
}